{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
    </div>
</div>

<div class="container container-style">
    <div class="row">
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
        <a href="#" class="">
        <div class="card card-style">
            <img src="/media/img/saikat.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">This is a wider card with supporting text below as a natural lead-in to additional content.</small></p>
            </div>
        </div>
        </a>
    </div>
</div>

{% endblock %}
