<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <mata name="author" content="nahidsaikat">
    <mata name="description" content="Link Manager">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <script defer src="/fontawesome/js/all.js"></script>

    <title>Link Manager</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/media/img/saikat.jpeg" width="30" height="30" class="d-inline-block align-top rounded" alt="Link Manager">
            
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            </ul>
            <div class="my-2 my-lg-0">
                <a class="btn btn-link" href="#">
                    <i class="far fa-plus-square fa-2x"></i>
                </a>
            </div>
        </div>
    </nav>


    <script src="/jquery/js/jquery.min.js"></script>
    <script src="/jquery/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
