body {
    background: #eaf0f1;
}

footer {
    position: fixed;
    height: 55px;
    bottom: 0;
    width: 100%;
    background-color: rgb(22, 87, 99);
}

.large-font {
    font-size: 27px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 100%;
}
  
.navbar .navbar-collapse {
    text-align: center;
}

.container-style {
    margin-top: 80px !important;
    margin-bottom: 60px !important;
}

.card-style {
    width: 250px !important;
    padding: 5px;
    margin: 5px;
}

a {
    text-decoration: none !important;
}
