body {
    background: white;
}

footer {
    position: fixed;
    height: 55px;
    bottom: 0;
    width: 100%;
    background-color: rgb(22, 87, 99);
}

.large-font {
    font-size: 27px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 100%;
}

.navbar .navbar-collapse {
    text-align: center;
}

.container-style {
    margin-top: 80px !important;
    margin-bottom: 60px !important;
}

.card-style {
    width: 250px !important;
    margin: 5px;
}

a {
    text-decoration: none !important;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
